@using System.Runtime.CompilerServices
@inject IJSRuntime JSRuntime
@inject HCaptchaService CaptchaService

<div id="h-captcha"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (CaptchaService.CaptchaID != null)
            {
                await JSRuntime.InvokeVoidAsync("hcaptcha.remove", CaptchaService.CaptchaID);
            }
            CaptchaService.CaptchaID = await JSRuntime.InvokeAsync<string>("hcaptcha.render", "h-captcha", new { sitekey = CaptchaService.Sitekey });
        }
        await base.OnAfterRenderAsync(firstRender);
    }
    
    public async Task<string> GetResponse() => await JSRuntime.InvokeAsync<string>("hcaptcha.getResponse", CaptchaService.CaptchaID);

}